::ng-deep .success-snackbar {
    background-color: #4CAF50 !important;
    color: #fff !important;
  }
  
  ::ng-deep .error-snackbar {
    background-color: #f44336 !important;
    color: #fff !important;
  }
  