.bg-white {
    transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .bg-white:hover {
    animation: bounce 0.4s ease;
    transform: scale(1.05); /* Slight scale for visual feedback */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }